* {
    color: #4c4d4e;
    font-family: 'Merriweather Sans', Verdana, Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    background: #f9f9f9;
    height: 100%;
    position: static;
}

body.home {
    background: #f9f9f9 url('../images/bg-home.png') bottom center no-repeat fixed;
}

h1, h2, h3, h4, h5, h5 {
    color: #4c4d4e;
    font-family: 'Merriweather Sans', Verdana, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

a {
    color: #4c4d4e;
    font-weight: 700;
}

p {
    font-weight: 300;
    text-align: justify;
}

p a {
    text-decoration: underline;
}

p a:hover {
    color: #0b9cd8;
}

.blue-text, a.blue-text:hover {
    color: #0b9cd8;
}

.gray-text, a.gray-text:hover {
    color: #b5b7b9;
}

.green-text, a.green-text:hover {
    color: #9cde3a;
}

.orange-text, a.orange-text:hover {
    color: #faa819;
}

.red-text, a.red-text:hover {
    color: #f72549;
}

.bold {
    font-weight: 700;
}

a.blue-text, a.gray-text, a.green-text, a.orange-text, a.red-text {
    font-weight: normal;
    text-decoration: none;
}

a.blue-text:hover, a.green-text:hover, a.green-text:hover, a.orange-text:hover, a.red-text:hover {
    font-weight: normal;
    text-decoration: underline;
}

.error {
    display: block;
    margin: 0 auto;
}

/*----top bar----*/
nav.top-bar {
    background: #f9f9f9;
    border-bottom: 10px solid #4c4d4e;
    margin-bottom: 25px;
    min-height: 113px;
    text-transform: uppercase;
    z-index: 500;
}

.title-area {
    padding: 20px 0;
    min-height: 113px;
}

.top-bar .toggle-topbar.menu-icon a span {
    -webkit-box-shadow: 0 10px 0 1px #4c4d4e, 0 16px 0 1px #4c4d4e, 0 22px 0 1px #4c4d4e;
    box-shadow: 0 10px 0 1px #4c4d4e, 0 16px 0 1px #4c4d4e, 0 22px 0 1px #4c4d4e;
}

.top-bar section li a:not(.button) {
    background: #f9f9f9;
    color: #4c4d4e;
    font-size: 1.2em;
    line-height: 103px;
}

.top-bar section .has-dropdown > a:after {
    top: 50%;
    border-color: rgba(76, 77, 78, 1) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.top-bar section .has-dropdown > a:hover:after {
    border-color: rgba(255, 255, 255, 1) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.top-bar section a:hover {
    color: #fff;
}

.top-bar section a.red:hover {
    background: #f72549;
}

.top-bar section a.blue:hover {
    background: #0b9cd8;
}

.top-bar section a.orange:hover {
    background: #faa819;
}

.top-bar section a.green:hover {
    background: #9cde3a;
}

.top-bar section ul.dropdown a {
    background: #4c4d4e;
    color: #fff;
    line-height: 35px;
}

.top-bar-section ul li:hover > a {
    background: #4c4d4e;
    color: white;
}

.top-bar section ul li.has-dropdown:hover > a:after {
    border-color: rgba(255, 255, 255, 1) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

/*---topbar mobile---*/
.top-bar.expanded .title-area {
    background: #e4e4e4;
}

.top-bar.expanded section ul.right a {
    line-height: 15px;
}

.top-bar.expanded section .has-dropdown > a:hover:after {
    border-color: rgba(255, 255, 255, 1) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.top-bar-section .has-dropdown > a:after {
    border: inset 5px;
    border-color: rgba(255, 255, 255, 1) transparent transparent transparent;
    border-top-style: solid;
}

.top-bar-section .has-dropdown.moved > .dropdown {
    height: 120px;
}

.expanded ul.dropdown {
    background: #4c4d4e;
}

/*---homepage---*/
.homebuttons {
    padding-top: 50px;
}

.button {
    border: none;
    -moz-box-shadow: none;
    -webkiet-box-shadow: none;
    box-shadow: none;
    text-transform: uppercase;
}

.button.blue {
    background: #0b9cd8;
}

.button.gray {
    background: #4c4d4e;
}

.button.green {
    background: #9cde3a;
}

.button.orange {
    background: #faa819;
}

.button.red {
    background: #f72549;
}

.button.disabled {
    background:#c3c3c3;
}

button.blue:hover, button.blue:focus, .button.blue:hover, .button.blue:focus {
    background-color: #008ec9;
}

button.gray:hover, button.gray:focus, .button.gray:hover, .button.gray:focus {
    background-color: #424344;
}

button.green:hover, button.green:focus, .button.green:hover, .button.green:focus {
    background-color: #8ccf29;
}

button.orange:hover, button.orange:focus, .button.orange:hover, .button.orange:focus {
    background-color: #fa9819;
}

button.red:hover, button.red:focus, .button.red:hover, .button.red:focus {
    background-color: #e51438;
}

.row.buttons {
    padding: 0 15px;
}

/*---login---*/
.login form {
    margin-bottom: 7px;
}

.login form label {
    cursor: default;
    font-size: 1.1em;
}

.login form input {
    margin-top: 5px;
}

.login form input[type="submit"] {
    margin: 0;
}

a.admin-login {
    font-size: 0.8em;
    font-weight: 300;
}

a.admin-login:hover {
    text-decoration: underline;
}

/*---resume---*/
.resume h2 {
    text-align: center;
}

/*---dashboard---*/
.dashboard .buttons {
    margin-top: 19px;
}

.results p {
    margin: 5px 0;
}

.results .blue-text {
    margin-bottom: 0;
}

.results h3 {
    text-transform: none;
}

.results a:hover > p {
    text-decoration: underline;
}

.button.taken {
    font-size: 0.9em;
}

.button.taken p {
    color: #fff;
    margin: 0;
    text-align: center;
}

/*---profile---*/
.profile {
    background: #f9f9f9 url('../images/bg-profile.png') bottom center no-repeat fixed;
}

.profile h2 {
    margin: 0;
}

.profile .name {
    color: #b5b7b9;
    font-style: italic;
    margin: 0 0 15px 0;
    text-transform: none;
}

.profile h5 {
    margin: 20px 0 5px 0;
}

.profile a.quiz {
    display: block;
    font-weight: 300;
}

.profile a.quiz:hover {
    color: #0b9cd8;
    text-decoration: underline;
}

.profile a.edit {
    font-weight: 300;
    text-transform: none;
}

.profile a.edit:hover {
    color: #f72549;
    text-decoration: underline;
}

.profile .all-paths {
    margin-bottom: 20px;
}

.profile .path {
    display: block;
    font-weight: 300;
    margin: 0 0 10px 0;
}

.profile-results p {
    margin: 0 0 5px 0;
}

.profile .professions, .profile .profession-list, .badges h5, .badges img {
    display: inline-block;
    vertical-align: top;
}

.profession-list {
    margin-bottom: 5px;
}

.profession-list p {
    margin: 0;
}

.badges {
    margin-top: 20px;
}

.badges h5 {
    margin-top: 4px;
}

.badges img {
    margin: 0 0.2em;
}

/*---quiz---*/
.quiz {
    background: #f9f9f9 url('../images/bg-profile.png') bottom center no-repeat;
}

.question label, .share label {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.25em;
    margin-bottom: 15px;
}

.question input[type="radio"], .question input[type="checkbox"], .share input[type="checkbox"] {
    float: left;
    clear: both;
    margin-top: 4px;
}

.answer {
    margin-left: 25px;
}

.answer label, .share label {
    line-height: 1.25em;
    margin-left: 25px;
}

#hidden-email{
    padding:15px;
    margin-bottom:20px;
    margin-top:-10px;
    border:1px dotted #333;
    background: #dfdfdf;
    display:none;
}

#hidden-email input {
    margin-top:-10px;
}
#hidden-email label{
    margin-left:0px;
}

span.detail {
    display: block;
    width: 100%;
    font-size: .9em;
}

.question a.button, .question input.button {
    width: 100%;
}

.question .button.large {
    padding-left: 1em;
    padding-right: 1em;
}

/*---paths---*/
.result a.arrow {
    background: url('../images/arrows.png') -31px 0 no-repeat;
    display: inline-block;
    height: 31px;
    width: 31px;
}

.result a.active {
    background: url('../images/arrows.png') 0 0 no-repeat;
}

.result h2 {
    display: inline-block;
    margin: 0;
}

.result .careers {
    display: none;
    margin-left: 38px;
}

.jobdesc h2.jobtitle { margin-bottom: 0; }
.jobdesc h2.salary { text-transform: none; }

/*---forms---*/
.form-dropdown {
    height: 3em;
}

span.form-info{
    display:block;
    margin-bottom:10px;
}

select{
    height:35px;
    padding:5px;
    font-size:1em;
}

textarea{height:100px;}

/*---share---*/
.share {
    padding-top: 75px;
}

.form-dropdown select {
    border: 1px solid #adadad;
    font-size: 0.875em;
    height: 2.3125em;
}

/*---jobs---*/
caption {
    color: #0b9cd8;
    font-size: 1.3275em;
    line-height: 1.25em;
    padding: 0 15px 10px 15px;
    text-transform: uppercase;
}

.joblist:last-child {
    margin-bottom: 25px;
}

.joblist tbody tr:hover, .joblist tbody tr:hover a, .joblist tbody tr:hover td {
    background: #f0f0f0;
    color: #f72549;
}

.joblist td a {
    display: block;
    width: 100%;
}

.share-buttons {
    padding-top: 50px;
}

/*---bottom bar---*/
.row.colors.hide-for-small {
    bottom: 0;
    height: 20px;
    left: 0;
    position: fixed;
    right: 0;
}

.row.colors.hide-for-small span {
    float: left;
    height: 20px;
}

.colors.show-for-small {
    left: 0;
    position: fixed;
    top: 0;
    width: 20px;
    height: 100%;
    z-index: 1;
}

.colors.show-for-small span {
    display: block;
    height: 20%;
    width: 20px;
}

span.gray {
    background: #4c4d4e;
}

span.yellow {
    background: #fff200;
}

span.red {
    background: #f72549;
}

span.blue {
    background: #0b9cd8;
}

span.orange {
    background: #faa819;
}

span.green {
    background: #9cde3a;
}


/*---Admin---*/
.new-category{
    background: #f3f3f3;
    display:none;
}
aside.warning{
    display:block;
    margin:5px 0px;
    padding:10px;
    background:#f72549;
    color:#ffffff;
    font-size:1.2em;
}
span.warning{
    color:#ffffff;
    font-size:1.4em;
    font-weight:bold;
}
table.scrollable tbody { height:200px; overflow-y:scroll; display:block; }
table.scrollable thead { display:block;}
caption.note{text-align:right;}


#deactivateDistricts{display:none;}

/*---Helpers---*/
.clearFloat{clear:both;}



/*---Media Queries---*/
@media only screen and (max-width: 758px) {
    body.home, body.profile, body.quiz {
        background: #f9f9f9;
    }

    .educational-path {
        margin: 15px 0;
    }

    .educational-path h2 {
        vertical-align: top;
    }

    .share label, .question label {
        font-size: 1em;
    }

    .answer label {
        font-size: 0.95em;
    }

    span.detail {
        font-size: 0.825em;
        line-height: 1.2em;
    }

    .question input[type="radio"], .question input[type="checkbox"], .share input[type="checkbox"] {
        margin-top: 0;
    }
}

@media only screen and (max-width: 933px) {
    .badges h5 {
        display: block;
    }
}